# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Go
/bin/
/auth-service
*.exe
*.test
*.out
/coverage.txt
/go-build/

# Environment
.env
*.local.idea/

# Логи
*.log

# Dependency directories
vendor/

# Runtime data
tmp/